<div class="content">
    <h1>A Tale of Two Buttons</h1>

    <div class="section">
        <h3 class="title">Description</h3>
        <p>
            This project describes our group member Carson Bergen. He is someone who greatly enjoys several different
            hobbies, the most notable of which being music and programming. On top of Carson's hobbies, he also greatly
            values taking care of his body, in which working-out and eating are essential aspects of his life.

            <br/><br/>

            For our project, we wanted to capture all these different aspects of Carson, since no single aspect was more
            important to him than another. As a result, we came up with the idea of creating quadrants, each of which represents
            a different portion of his hobbies or priorities. To demonstrate how he constantly transitions between these
            different interests, we created a figure representative of Carson, which can be dragged and move to different
            quadrants to allow him to do that activity.

            <br/><br/>

            Once Carson's figure has been dragged into a quadrant, an action button allows the user to make him do whichever activity
            the user has assigned him to. This way of demonstrating the different aspects of who Carson is allows the user to
            engage in an interactive experience where they must interact with Carson himself to truly reveal all the different
            elements of his personality.
        </p>
    </div>

    <div class="section">
        <h3 class="title">10 Concept Sketches</h3>
        <div class="flex-row">
            <img width="200px" src="tale-of-two-buttons/initial-sketches/food-prep.jpg">
            <p>
                This idea was inspired by Carson's love of food. The idea was for the user to
                be able to interactively prepare some of Carson's favorite meals as a way of
                discovering more about through an activity.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea was to demonstrate Carson's passion for exercise via an interactive
                game where the user would help him exercise, and provide statistics on his strength
                as the user exerts his energy.
            </p>
            <img width="200px" src="tale-of-two-buttons/initial-sketches/bicep-curls.jpg">
        </div>
        <div class="flex-row">
            <img width="200px" src="tale-of-two-buttons/initial-sketches/activity-quadrants.jpg">
            <p>
                This idea was inspired by my desire to showcase all of Carson's interests since they
                are all required to make up who he is. This was the first iteration of the idea of
                dividing Carson's personality into distinct sectors.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea took the idea of a quadrant-based approach a step further. Specifically, its
                intention was the break the barrier of having all the quadrants separated from each other.
                This would provide an interaction that spanned across all quadrants.
            </p>
            <img width="200px" src="tale-of-two-buttons/initial-sketches/piecewise-button.jpg">
        </div>
        <div class="flex-row">
            <img width="200px" src="tale-of-two-buttons/initial-sketches/multi-path-game.jpg">
            <p>
                This idea was to have some level of interaction where each decision influenced
                what the next possible option was. This way, the user could make decisions influencing
                how Carson went about his day, showing all the different types of things that may occur
                during a day as Carson.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea was inspired by Carson's interest in working out. This led me down the path of
                sports, in which I thought we could showcase some aspect of athletics by letting the user
                dress a character representing Carson in a variety of sports jerseys.
            </p>
            <img width="40%" src="tale-of-two-buttons/initial-sketches/clothing.jpg">
        </div>
        <div class="flex-row">
            <img width="40%" src="tale-of-two-buttons/initial-sketches/haptic.jpg">
            <p>
                Based on Carson's love for music, I wanted an idea that would break the boundary of purely
                visual interactions with the website. This idea was generated to spark a pursuit of interactions
                that the user could physically and acoustically detect, just like the music he loves.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea built upon the idea of quadrants, but with the intent of capturing Carson's earlier
                years of life too. By allowing the user to navigate forward and backward in time, they could see
                how Carson's interests have shifted over the years to better understand his personality.
            </p>
            <img width="40%" src="tale-of-two-buttons/initial-sketches/quadrant-with-time-flow.jpg">
        </div>
        <div class="flex-row">
            <img width="40%" src="tale-of-two-buttons/initial-sketches/time-based-quadrants.jpg">
            <p>
                This idea was an attempt to change how each user experiences their discovery of Carson's personality.
                The way that their interactions would differ is that the content of the page would change
                based on the time of day. Hobbies displayed during the afternoon may be things he likes to do during the day,
                and conversely, hobbies displayed later in the day would be things that he likes to do at night.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This last idea was to again capture that Carson's personality is a dynamic entity that has changed
                over time, and will continue to do so. The idea here was to express to the user how it has changed,
                by allowing them to view what was important to Carson in the past, versus in the present day.
            </p>
            <img width="40%" src="tale-of-two-buttons/initial-sketches/timeline.jpg">
        </div>
    </div>

    <div class="section">
        <h3 class="title">10 Refined Sketches</h3>
    </div>

    <div class="section">
        <h3 class="title">Video + Final Product</h3>
    </div>

    <div class="section">
        <h3 class="title">Source Code</h3>
    </div>
</div>
