<div class="home-bar">
    <div class="example-button-container">
        <a mat-fab extended (click)="navigateTo('/')">
          <mat-icon>home</mat-icon>
          Home
        </a>
    </div>
</div>

<div class="content">
    <h1>A Tale of Two Buttons</h1>

    <div class="section">
        <h3 class="title">Description</h3>
        <p>
            This project describes our group member Carson Bergen. He is someone who greatly enjoys several different
            hobbies, the most notable of which being music and programming. On top of Carson's hobbies, he also greatly
            values taking care of his body, in which working-out and eating are essential aspects of his life.

            <br/><br/>

            For our project, we wanted to capture all these different aspects of Carson, since no single aspect was more
            important to him than another. As a result, we came up with the idea of creating quadrants, each of which represents
            a different portion of his hobbies or priorities. To demonstrate how he constantly transitions between these
            different interests, we created a figure representative of Carson, which can be dragged and move to different
            quadrants to allow him to do that activity.

            <br/><br/>

            Once Carson's figure has been dragged into a quadrant, an action button allows the user to make him do whichever activity
            the user has assigned him to. This way of demonstrating the different aspects of who Carson is allows the user to
            engage in an interactive experience where they must interact with Carson himself to truly reveal all the different
            elements of his personality.
        </p>
    </div>

    <div class="section">
        <h3 class="title">10 Concept Sketches</h3>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/food-prep.jpg', 'Food prep')">
                <img width="200px" src="tale-of-two-buttons/initial-sketches/food-prep.jpg">
                <div class="title">Food prep</div>
            </div>
            <p>
                This idea was inspired by Carson's love of food. The idea was for the user to
                be able to interactively prepare some of Carson's favorite meals as a way of
                discovering more about through an activity.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea was to demonstrate Carson's passion for exercise via an interactive
                game where the user would help him exercise, and provide statistics on his strength
                as the user exerts his energy.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/bicep-curls.jpg', 'Bicep curl')">
                <img width="200px" src="tale-of-two-buttons/initial-sketches/bicep-curls.jpg">
                <div class="title">Bicep curl</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/activity-quadrants.jpg', 'Activity quadrants')">
                <img width="200px" src="tale-of-two-buttons/initial-sketches/activity-quadrants.jpg">
                <div class="title">Acitivity quadrants</div>
            </div>
            <p>
                This idea was inspired by my desire to showcase all of Carson's interests since they
                are all required to make up who he is. This was the first iteration of the idea of
                dividing Carson's personality into distinct sectors.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea took the idea of a quadrant-based approach a step further. Specifically, its
                intention was the break the barrier of having all the quadrants separated from each other.
                This would provide an interaction that spanned across all quadrants.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/piecewise-button.jpg', 'Piecewise button')">
                <img width="200px" src="tale-of-two-buttons/initial-sketches/piecewise-button.jpg">
                <div class="title">Piecewise button</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/multi-path-game.jpg', 'Multi-path game')">
                <img width="200px" src="tale-of-two-buttons/initial-sketches/multi-path-game.jpg">
                <div class="title">Multi-path game</div>
            </div>
            <p>
                This idea was to have some level of interaction where each decision influenced
                what the next possible option was. This way, the user could make decisions influencing
                how Carson went about his day, showing all the different types of things that may occur
                during a day as Carson.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea was inspired by Carson's interest in working out. This led me down the path of
                sports, in which I thought we could showcase some aspect of athletics by letting the user
                dress a character representing Carson in a variety of sports jerseys.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/clothing.jpg', 'Clothing swap')">
                <img width="40%" src="tale-of-two-buttons/initial-sketches/clothing.jpg">
                <div class="title">Clothing swap</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/haptic.jpg', 'Haptic feedback')">
                <img width="40%" src="tale-of-two-buttons/initial-sketches/haptic.jpg">
                <div class="title">Haptic feedback</div>
            </div>
            <p>
                Based on Carson's love for music, I wanted an idea that would break the boundary of purely
                visual interactions with the website. This idea was generated to spark a pursuit of interactions
                that the user could physically and acoustically detect, just like the music he loves.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This idea built upon the idea of quadrants, but with the intent of capturing Carson's earlier
                years of life too. By allowing the user to navigate forward and backward in time, they could see
                how Carson's interests have shifted over the years to better understand his personality.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/quadrant-with-time-flow.jpg', 'Quadrants with time')">
                <img width="40%" src="tale-of-two-buttons/initial-sketches/quadrant-with-time-flow.jpg">
                <div class="title">Quadrants with time</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/time-based-quadrants.jpg', 'Time-based content')">
                <img width="40%" src="tale-of-two-buttons/initial-sketches/time-based-quadrants.jpg">
                <div class="title">Time-based content</div>
            </div>
            <p>
                This idea was an attempt to change how each user experiences their discovery of Carson's personality.
                The way that their interactions would differ is that the content of the page would change
                based on the time of day. Hobbies displayed during the afternoon may be things he likes to do during the day,
                and conversely, hobbies displayed later in the day would be things that he likes to do at night.
            </p>
        </div>
        <div class="flex-row">
            <p>
                This last idea was to again capture that Carson's personality is a dynamic entity that has changed
                over time, and will continue to do so. The idea here was to express to the user how it has changed,
                by allowing them to view what was important to Carson in the past, versus in the present day.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/initial-sketches/timeline.jpg', 'Timeline')">
                <img width="40%" src="tale-of-two-buttons/initial-sketches/timeline.jpg">
                <div class="title">Timeline</div>
            </div>
        </div>
    </div>

    <div class="section">
        <h3 class="title">10 Refined Sketches</h3>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/refined-sketches/alex1.jpg', 'Alex refined sketch 1')">
                <img width="40%" src="tale-of-two-buttons/refined-sketches/alex1.jpg">
                <div class="title">Alex refined sketch 1</div>
            </div>
            <p>
                The idea of a screen with sectors was one that we chose to refine because its ability
                to still allow us to ideate on exactly what each sector was and how it behaved. It also gave
                us the ability to showcase the different aspects of Carson that were all important to him. In this sketch,
                I thought of the divisions of sectors as non-linear lines to make the experience feel more personal, as well
                as a button that tracks the mouse to give a more unique interaction.
            </p>
        </div>
        <div class="flex-row">
            <p>
                The idea of a piecewise button, that spanned mutliple screens was something we wanted to further refine since
                we liked the idea of how it bridged many different concepts together. In this sketch, my idea was to make the
                button span each sector, but only allow the button to be usable once the user had visited all the sectors. This
                idea was an attempt to incentivize the iteractions through the piecewise button, ensuring all elements of the page
                that we wanted to be visited were actually interacted with.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/refined-sketches/alex2.jpg', 'Alex refined sketch 2')">
                <img width="40%" src="tale-of-two-buttons/refined-sketches/alex2.jpg">
                <div class="title">Alex refined sketch 2</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/refined-sketches/alex3.jpg', 'Alex refined sketch 3')">
                <img width="40%" src="tale-of-two-buttons/refined-sketches/alex3.jpg">
                <div class="title">Alex refined sketch 3</div>
            </div>
            <p>
                We wanted to refine ideas centered around animation as well, since we felt it was an easy way for the user
                to have an enjoyable experience with the page that felt more dynamic. In this sketch, I incorporated the
                animation with our sectored approach, and emphasized that the animations ocurred on their own, without requiring
                a specific interaction from the user. This would make the page feel more alive with activity, with the added bonus
                of freeing up use cases for the buttons themselves.
            </p>
        </div>
        <div class="flex-row">
            <p>
                Carson's idea was integral to our final product as well. It was motivited by the desire for us to unify the
                4 sectors in some way. In this sketch, that is achieved by having a character representing Carson be draggable, and
                used as a medium for navigating the different sectors.
            </p>
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/refined-sketches/carson.jpg', 'Carson refined sketch')">
                <img width="40%" src="tale-of-two-buttons/refined-sketches/carson.jpg">
                <div class="title">Carson refined sketch</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="image-container" (click)="openImageDialog('tale-of-two-buttons/refined-sketches/gui.jpg', 'Guilherme refined sketch')">
                <img width="40%" src="tale-of-two-buttons/refined-sketches/gui.jpg">
                <div class="title">Guilherme refined sketch</div>
            </div>
            <p>
                Guilherme's idea was also very important to our final product. This idea was an expansion on our desire to have
                some form of animation in our sectors. This helped to flesh out exactly what those animations would be, and what
                topics we'd like to focus on for animating.
            </p>
        </div>
    </div>

    <div class="section">
        <h3 class="title">Video + Final Product</h3>
        <iframe id="youtubeVideo" width="90%" height="300px" src="https://www.youtube.com/embed/aVS0ZnpewBI" frameborder="0" allowfullscreen></iframe>
        <h5>Final implementation</h5>
        <p>
            Our final implementation of the project involved 4 quadrants. Each quadrant rotated between 3
            different states. The first being that Carson's figure is not present, the second being that
            the figure is present but not animating, and the last being an animated version of the figure.
        </p>
        <h5>Division of work</h5>
        <p>
            The work for this was delegated amoungst the 3 of us in the following way: Guilherme was responsible
            for drawing all images and animations, while myself and Carson handled developing the design and
            functionality of the app where these images live. In terms of development work, I handled creating the quadrants
            and the general data context shared between all components. Using this data context, Carson then implemented the
            draggable figure and the clickable animation button.
        </p>
        <h5>How does our application fit the objective?</h5>
        <p>
            The initial goal of this project was to capture the essence of a team member's personality, with
            the limitation of interacting with just 2 buttons. In this implementation, we've achieved a medium
            of demonstrating an all-encompassing display of Carson's personality, without having to sacrifice
            important aspects of his self.
            <br/>
            Beyond displaying many different aspects, the 2 buttons (the draggable character and the animation button),
            provide an interaction that is inviting to the user, and beckons people to interact with the interface. Upon
            interaction, Carson's self is immediately revealed and it makes the user want to see each aspect based on the
            entertaining animation.
        </p>
        <h5>What worked and what didn't work</h5>
        <p>
            One aspect that worked quite well with this implementation was the idea of compartmentalized sectors, but with
            the ability to transcend them as the core interaction. This provided a way of navigating several different topics
            while maintaining an overarching view that was easy to keep track of. The figure also snapping into place for the
            user helped to ensure that the state of the interface never appeared too cluttered.
            <br/><br/>
            An aspect that didn't quite work was that both buttons were based on the mouse's location. One button was draggable,
            thus always tracking the mouses location. Similarly, the animation button tracked the mouse as it moved. As a result,
            this left both interactions in close proximity to each other, sometimes resulting in a cluttered display where it may
            be tricky for the user to quickly interact with one button without potentially pressing the other.
            <br/><br/>
            One way of ammending this issue would be to use a piecewise-button approach like in several of our initial and refined
            sketches. The animation button could be placed in the center of the screen, intersecting all 4 quadrants. This way, its
            location would always be easily accessible to the user, which would allow them to better discern the two interactions of the app.
        </p>
    </div>

    <div class="section">
        <h3 class="title">Live App + Source Code</h3>
        <a href="https://carsonbergen.github.io/CPSC581GroupProject1/">LIVE APP</a>
        <a href="https://github.com/carsonbergen/CPSC581GroupProject1">SOURCE CODE</a>
    </div>
</div>
